body {
  font-family: 'Roboto', sans-serif;
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh; /* view height unit */
  background-color: #151b29;
}

button {
  background: none; 
  color: #ffa260;
  border: 2px solid; 
  padding: 1em 2em; /* vertical | horizontal */
  font-size: 1em; 
}

button:hover {
  border-color: #f1ff5c; 
  color: white; /* now the text is white */
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em); 
  transition: all 0.25s cubic-bezier(0.5, 0, 0.75, 0);
  cursor: pointer; /* change the cursor shape */
}

